doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootswatch/journal/bootstrap.min.css')
    link(rel='stylesheet', href='/bower/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      block content
    script(src='/bower/jquery/jquery.min.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/js.js')